*.png filter=lfs diff=lfs merge=lfs -text
*.data filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.pbd filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.debug filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.File filter=lfs diff=lfs merge=lfs -text
add filter=lfs diff=lfs merge=lfs -text
LinuxServer/linuxServer_Data/Resources/Unity filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
.html filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.unityweb filter=lfs diff=lfs merge=lfs -text
*.web filter=lfs diff=lfs merge=lfs -text
