player-connection-mode=Listen
player-connection-guid=4049592323
player-connection-debug=0
player-connection-project-name=task_010201_empty
player-connection-ip=192.168.56.1
player-connection-ip=192.168.1.162
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
gfx-threading-mode=4
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=6122f96dc3e741759350ca0ae4c47151
